 /**
 * impress.js
 *
 * impress.js Layout converter.
 *
 * MIT Licensed.
 *
 * Copyright 2012 Yamazaki Daisuke (@_AIR_NOTE)
 *
 * ------------------------------------------------
 *  author:  yamazaki daisuke
 *  version: 0.1
 */
body{
    width:100%;
    height:100%;
}
table{
    background-color: #1810FF;
    color: #160ACA;
}
th, td{
    background-color: #E6E1FF;
    margin-top:3px;
    font-size: 80%;
    font-weight: normal;
    color:#160ACA;
}
button{
    font-family: 'Coda Caption', sans-serif;
    color:#fff;
    text-shadow: 1px 1px 1px #0D067A;
    border-radius: 5px;
    border: 1px solid #1810FF;
    background-color: #7588FC;
    cursor: pointer;
    height: 25px;
    -webkit-transition: background-color 0.3s linear;
}
button:hover{
    text-shadow: 1px 1px 1px #160ACA;
    border: 1px solid #7588FC;
    background-color: #ccf;
}
.code_select_btn{
    text-shadow: 1px 1px 1px #160ACA;
    background-color: #ccf;
    border: 1px solid #1810FF;
    background-color: darkorange;
}
.reset_btn{
    text-shadow: 1px 1px 1px #030119;
    background-color: #ccf;
    border: 1px solid #1810FF;
    background-color: #777;
}

#hedder{
    font-family: 'Coda Caption', sans-serif;
    position:absolute;
    color: #1810FF;
    vertical-align: bottom;
    z-index:9999;
}
#hedder > span{
    font-size:80%;
    margin-left: 10px;
    text-shadow: 1px 1px 1px white;
}
#main{
    width: 900px;
    height: 680px;
    border: 1px solid #1810FF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    transform: translateZ(-9999);
    background-color: #E6E1FF;
}
#footer{
    width: 100%;
    height:100%;
}
.sheet{
    width:90px;
    height:70px;
    padding: 1px;
    margin: 0;
    font-size:70%;
    cursor: pointer;
    border-radius: 10px;
    border:1px solid #7588FC;
    box-shadow: 3px 3px 5px #888;
    -webkit-transition: background-color 0.8s linear;
}
.sheet:hover{
    box-shadow: 5px 5px 10px #777;
}
#alttimer{
    position: absolute;
    top: 150px;
    left: 250px;
    padding:5px;
    z-index: 9999;
    transform: translateZ(9999);
    opacity: 0.5;
    font-size: 120%;
    font-weight: bold;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    border: 1px solid #1810FF;
    background-color: #555;
    box-shadow: 10px 10px 5px #333;
}
.t1{
    font-size: 80%;
    font-weight: normal;
}
.t2{
    font-size: 80%;
    font-weight: normal;
}
#alter_block{
    position:absolute;
    font-size: 100%;
    font-weight: bold;
    z-index: 9999;
    transform: translateZ(9999);
    box-shadow: 5px 10px 15px #888;
    opacity: 0.8;
}
.alt_back{
    color:#222;
    background-color: #dadada;
    opacity: 0.8;
}
.alt_close{
    color: white;
    font-size: 90%;
    text-shadow: 1px 1px 3px #160ACA;
    padding:3px;
    border-top: 2px solid #1810FF;
    border-left: 2px solid #1810FF;
    border-right: 2px solid #1810FF;    
    background-color: #7588FC;
    cursor: pointer;
    display: block;
}
input {
    background-color: #000;
    color:white;
}
#dh_foot{
    float: left;
    clear: both;
    font-size: 90%;
    color: #160ACA;
    text-shadow: 1px 1px 1px white;
    margin-top: 5px;
    width:891px;
}
#dh_foot > p{
    margin: 0 0 0 20px;
    padding:0;
    float: right;
    font-family: 'Coda Caption', sans-serif;
    color: #1810FF;
    font-size: 90%;
}
#dh_foot > p > span{
    font-size: 80%;
}
#dh{
    float: left;
    clear: both;
    font-size: 90%;
    color: #160ACA;
    width:900px;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid #1810FF;
    text-shadow: 1px 1px 1px white;
    box-shadow: 5px 5px 10px #888;
    background-color: #E6E1FF;
}
#dh > a{
    margin-left:10px;
    margin-right:10px;
}
#dod_select_btn{
    float: right;
    clear: both;
}
#dh_com{
    color: #222;
    float: left;
    clear: both;
}
#codeviewblock{
    padding:5px;  
}
#bottom_base{
    padding:30px;
}
#help{
    font-weight: bold;
    border-radius: 50px;
    vertical-align:center;
    cursor: pointer;
}
#help_block > .alt_close{
    border:0;
    border-bottom: 1px solid #333;
} 
#help_block > .alt_back{
      background-color: #E6E1FF;
      opacity: 0.8;
}
#help_block{
  position: absolute;
  top:40px;
  left:300px;
  transform: translateZ(9999);
  z-index: 9999;
  font-size: 80%;
  padding: 5px;
  border: 1px solid #1810FF;
  box-shadow: 5px 5px 10px #666;
}
#help_block span{
    padding-left: 30px;
    font-weight: bold;
}
#localData{
    font-size: 80%;
    border: 0;
}
#editblock{
    position: absolute;
    left: 300px;
    top:100px;
    font-size: 90%;
    padding:5px;
    background-color: #E6E1FF;
    color: #160ACA;
    border: 1px solid #1810FF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    opacity: 0.8;
}
#editblock > .alt_close{
    border-bottom: 2px solid #1810FF;
}
.code{
    float: left;
    margin:5px;
}